<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<array>
			<string>NImit</string>
			<string>pram</string>
			<string>aman </string>
			<string>jagan</string>
			<string>what is your name ??</string>
			<string>image1</string>
			<string>0</string>
		</array>
		<array>
			<string>jagan</string>
			<string>aman</string>
			<string>pram</string>
			<string>NIMIT</string>
			<string>WHAT IS YOUR NAME</string>
			<string>image2</string>
			<string>3</string>
		</array>
		<array>
			<string>jagan</string>
			<string>Nimit</string>
			<string>pram</string>
			<string>abc</string>
			<string>WHAT IS YOUR NAME</string>
			<string>image2</string>
			<string>1</string>
		</array>
	</array>
</dict>
</plist>
